.login {
    float: none;
    width: 100%;
    background: #3c55a2;
    background-image: url(https://www.yoox.com/media/yoox16/icons/facebook_24.png);
    border: 2px solid #3c55a2;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
  }
  .onOver {
    opacity: 0.01;
    transition: all 1s ease 0s;
    background: #3c55a2;
    display: table;
    font-size: 12px;
    height: 46px;
    line-height: 46px;
    width: 100%;
    color: #fff;
    cursor: pointer;
  }
  
  .overtext {
    height: 46px;
    line-height: 46px;
    font-size: 12px;
    display: block;
    color: #fff;
    cursor: pointer;
  }
  
  .google {
    float: none;
    width: 100%;
    background-color: #fff;
    background-image: url(https://www.yoox.com/media/yoox16/icons/google_24.png);
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid #f2f2f2;
    color: #fff;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .googleon {
    opacity: 0.01;
    transition: all 1s ease 0s;
    background: #fff;
    color: #333;
    display: table;
    font-size: 12px;
    height: 46px;
    line-height: 46px;
    width: 100%;
  }
  .googletext {
    height: 46px;
    display: block;
    color: #333;
    font-size: 12px;
    line-height: 46px;
  }
  .inputText {
    font-size: 14px;
  }
  
  .floating label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
  }
  .inputText:focus ~ .floatinglabel,
  .inputText:not(:focus):valid ~ .floatinglabel {
    top: 8px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
  }
  .line {
    border: none;
    border-top: 1px dotted black;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 30%;
  }
  .border {
      background: url(https://www.yoox.com/media/yoox16/myoox/border_dotted_big.png) repeat-x 0 100%;
      border: none;
      height: 9px;
     
  }
  .line1{
    border: none;
    border-top: 1px dotted black;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 100%;
    padding-top:20px;
  }
  .a{
  margin-left:30px;
  }
  
  .green{
    background: url(https://www.yoox.com/images/yoox80/banners/6965_2_Premium_DM.png?634485886869569819#width=1379&height=67);
    text-Align:center;
    padding:10px
  }
  .big{
    background:url(https://secure.social.yoox.it/yspecial/NATALE/2022/hero_v6.png?v=1);
    border:1px solid black;
    height:550px;
    width: 100%;
    object-fit:cover
  }
  .go{
  padding: 45px;
  background-color: white;
  width: 300px;
  margin-Left:60px;
  margin-top: 370px;
  font-family:Montserrat,sans-serif;
  height:150px
  }
  .line3{
    border: none;
    border-top: 2px solid black;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 49%;
    margin-left: 40px;
    margin-top: 10px;
  }


/* topnav starts*/

.topnav{
  display: flex;
  align-items: center;
  border: 1.5px solid lightgrey;
  justify-content: space-evenly;
  font-size: 20px;
}

.Heading{
  font-weight: 650;

}


/* topnav ends*/


/* midnav  start */


.midnav{

display: flex;
text-align: center;
border: 1px solid black;
font-size: 16px;
font-weight: 650;
align-items: center;
gap: 100px;
justify-content: center;
}
.logo{
  width: 80px;
  height: 60px;
  margin-left: 50%;
  margin-top: 13px;
}

.search{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 20px;
  
}

/* midnav over */



/* bottom nav starts */

.bottomnav{
font-size: 11px;
font-weight: 700px;
border: 1px solid black;
color: #fff;
background-color: #222121;
justify-content: center;
padding: 10px;
padding-left: 130px;

}

/* bottom nav ends */




/* footer */


.footer{

  display: flex;
  gap: 50px;
  text-align: center;
  padding-top: 20px;
  padding-left: 150px;
  background-color: lightgrey;

}


.mainfooter{


  box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  width: 24%;
  padding: 20px;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  
  }

.social{
  display: flex;
  align-items: center;
  gap: 250px;
  background-color: lightgrey;
  margin-top: 3px;

}

.links{
  display: flex;
  align-items: center;
  padding-left: 70px;
}








/*  mobilesize */

@media screen and (min-width:325px) and (max-width:600px){
  
.midnav{
  width: auto;
  font-size: 16px;
  padding-left: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.topnav{

  width: auto;
  font-size: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(204, 211, 206);
  padding: 5px;
}

.help{
  display: none;
}

.flags{
  display: none;
}
.Heading{
  font-weight: 600;
  text-align: center;
  width: 100%;
}


.bottomnav{
  display: none;
}


.footer{
  width: auto;
  padding-left: 0px;
}



.myyoox{
  display: none;
}
.new{
  display: none;
}

.mainfooter{

width: 75%;
text-align: center;
justify-content: center;
padding-top: 10px;
margin: auto;
}

.social{
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 7px;
  font-size: 15px;
}

.links{
 width: auto;
  padding-left: 20px;
 justify-content: center;
}


}